# Box Office - data investigations

Here we investigate the Box Office - some of the findings are useful for our conclusions and others just explore the data.

In [1]:
import os
import numpy as np
import pandas as pd

### Load data

We load the pickled dataframe.

In [4]:
filename = f"boxOffice"
data_dir = os.getcwd() + os.sep + 'data'

df_boxOffice = pd.read_pickle(rf"{data_dir}{os.sep}{filename}.pkl")
df_boxOffice.head()

         days       dow  rank       daily  theaters special events    movie
0  2019-05-24    Friday     1  31358935.0      4476            NaN  Aladdin
1  2019-05-25  Saturday     1  30013295.0      4476            NaN  Aladdin
2  2019-05-26    Sunday     1  30128699.0      4476            NaN  Aladdin
3  2019-05-27    Monday     1  25305033.0      4476   Memorial Day  Aladdin
4  2019-05-28   Tuesday     1  12014982.0      4476            NaN  Aladdin

### Inital analysis of Box Office data

We want to do a simple investigation to see whether we should handle outlier, etc. in the box office data. We start by describing the continuous attributes.

In [5]:
df_boxOffice.describe()

              rank         daily     theaters
count  6905.000000  6.905000e+03  6905.000000
mean     14.968573  2.958313e+06  1746.852860
std      12.610773  8.340898e+06  1592.607404
min       1.000000  6.000000e+01     5.000000
25%       4.000000  3.217800e+04   221.000000
50%      12.000000  2.661390e+05  1238.000000
75%      24.000000  1.842660e+06  3323.000000
max      63.000000  1.574616e+08  4802.000000

Check for any NaN-values. They only occur in the special events which is alright.

In [6]:
df_boxOffice.isnull().any()

days              False
dow               False
rank              False
daily             False
theaters          False
special events     True
movie             False
dtype: bool

Some plots?! FELIX your go - investigate whether box office looks similar to the one in IMDb. TAKE IT AWAY!